@import url(common/create.less);
@import url(common/var.less);

.button() {
  border: 1px solid #ebeef5;
  box-sizing: border-box;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 2px;
  background-color: transparent;

  &:hover {
    color: .colorType()[primary];
    background-color: #ecf5ff;
  }
}

.namespace(calendar, {
  width: 100%;

  .e(header, {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebeef5;

    box-sizing: border-box;
    padding: 0 24px 8px;

    .m(button, {
      display: flex;
      cursor: pointer;
    });

    .m(previous, {
      .button();
    });

    .m(today, {
      .button();
      border-left: 0;
      border-right: 0;
    });

    .m(next, {
      .button();
    })
  });

  .e(date, {
    box-sizing: border-box;
    padding: 0 24px;
    height: 48px;

    .m(week, {
      display: flex;
      justify-content: space-around;
    });

    .m(container, {
      display: flex;
      justify-content: space-between;
    });

    .m(day, {
      width: 100%;
      height: 96px;
      border: 1px solid #ebeef5;
      box-sizing: border-box;
      padding: 12px;
      cursor: pointer;

      .is(today, {
        color: .colorType()[primary];
      });

      .is(selected, {
        background-color: #ecf5ff;
        color: .colorType()[primary];
      });

      .is(previous, {
        color: .colorType()[info];
      });
      .is(next, {
        color: .colorType()[info];
      })
    });
  });

  .m(center, {
    height: 48px;
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  });
});


