@import url(common//create.less);
@import url(common/var.less);

.namespace(dialog, {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;

  .b(content, {
    position: absolute;
    margin-top: 15vh;
    box-sizing: border-box;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);

    .is(fullscreen, {
      width: 100% !important;
      height: 100%;
      margin-top: 0;
    })
  });

  .e(header, {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .is(draggable, {
      cursor: move;
    });

    .m(title, {
      font-size: 20px;
      font-weight: 600;
    })
  });

  .is(modal, {
    background-color: transparent;
  });

  .is(center, {
    align-items: center;

    .namespace(dialog, {
      .b(content, {
        margin-top: 0;
      });
    })
  });
});
