@import url("common/create.less");
@import url("common/var.less");

.namespace(timeline, {
  display: flex;
  justify-content: flex-start;
  gap: 12px;

  .e(line, {
    position: relative;
    top: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  });

  each(.colorType(), .(@value, @type) {
    .bm(@type, dot, {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: @value;

      & when (@type = default) {
        background-color: #e4e7ed;
      }
    });
  });


  .m(separator, {
    display: block;
    width: 3px;
    height: var(--timeline-content-height);
    background-color: #e4e7ed;
  });

  .b(info, {
    color: gray;
  });

  .m(time, {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 600;
    margin-bottom: 4px;
  });

  .m(content, {
    padding: 16px;
    border-radius: 4px;

    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3),
    0 2px 4px rgba(0, 0, 0, 0.3),
    -2px 0 4px rgba(0, 0, 0, 0.3),
      0 -2px 4px rgba(0, 0, 0, 0.3);
  });
});

.is(hide-timestamp, {
  position: relative;
  top: 8px;
});
